
@font-face {
  font-display: auto;
  font-family: 'BebasNeue';
  src: local('BebasNeue'),
  url('BebasNeue-Regular.ttf') format('truetype'),
  url('BebasNeue-Regular.woff') format('woff'),
  url('BebasNeue-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


